@import "tailwindcss";

:root {
  --app-bg: linear-gradient(135deg,
      rgba(5, 136, 151, 1) 0%,
      rgba(255, 159, 0,1) 100%);
}

/* Glass UI utilities */
.glass {
  background: rgba(255, 255, 255, 0.50);
  outline: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(24px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  ;
}

.glass-sm {
  background: rgba(255, 255, 255, 0.50);
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(24px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .glass-sm {
    background: rgb(30, 41, 59);
    box-shadow: none;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    outline-offset: -1px;
  }
}

.glass-strong {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(14px) saturate(130%);
  -webkit-backdrop-filter: blur(14px) saturate(130%);
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
}

body {
  background: var(--app-bg);
}